[user]
	name = Greg Anderson
	email = greg.anderson.cs@gmail.com
[core]
	editor = vim
[color]
	ui = auto
[alias]
  hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
